[user]
	name = Axel Bock
	email = mr.axel.bock@gmail.com
[push]
	default = simple
[alias]
    ls = log --pretty=format:\"%C(yellow)%h %C(blue)%ad %C(reset)%s %C(green)[%cn]%C(red)%d \" --decorate --date=local
[color]
	ui = true
[mergetool]
	keepBackup = true
[core]
	excludesfile = /Users/tm/.gitignore_global
	editor = vim
	eol = lf
	autocrlf = input
[merge]
	tool = meld
[pull]
	rebase = true
[init]
	defaultBranch = main
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
